<!DOCTYPE html>
  <head>
    {{ headContent() }}
    {{ bootstrapLib() }}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css" integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js" integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p" crossorigin="anonymous"></script> 
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <style> .recalculating { opacity: 1.0 !important; } </style>
  </head>

    <body>
    <div id="main">
        {{
          previewTab = tagList(uiOutput("paramsui"), 
                               uiOutput("vue"))
          editorTab  = tagList(uiOutput("rmdeditor"))
          mainPanel(
             tabsetPanel( 
                tabPanel("Preview", previewTab),
                tabPanel("Editor", editorTab),
                    id="mytabset")
            )
        }}
    </div>
    <script>
    $("#main").on("shiny:inputchanged", function(event) {
                if(event.name !== "rmd" && 
                   typeof vm !== 'undefined') {
                        // console.log("shiny:inputchanged")
                        // console.log("event.name: " + event.name) 
                        // console.log("event.value: "   + event.value) 
                      vm.$data[[event.name]] = event.value
             }
            });
    </script>
  </body>

</html>
