<div id="preview">
  {% problemhtml %}
</div>


<script>
  {% customMessageHandlers %}
</script>

<script>
function render_katex_math(){
   if(typeof renderMathInElement === "function") 
       renderMathInElement(document.body)
}
</script>

<script>

  app=Vue.createApp({
          delimiters: ["{{","}}"],
    data() {
      return {
           {% vuedata %}
      }
    },
    mounted: function () {
        render_katex_math()
            },
    watch: {
        $data: {
                handler() {
                    render_katex_math()
                },
                flush: "post",
                deep: true
            }
    },
    methods: {
        round: function(num, places) {
                 plusexpr="e+" + places
                 minusexpr="e-" + places
            return +(Math.round(num + plusexpr)  + minusexpr);
        }
    }
  })

var vm=app.mount("#preview")


</script>
